<%= content_for :title, "Dashboard" %>
<div class="mt-18 px-4 sm:px-6 lg:px-8">
  <h1 class="text-gray-700 font-lg text-center mx-auto font-semibold">Dashboard</h1>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-700">
            <tbody class="divide-y divide-gray-700">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to "Products", admin_products_path %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> <%= Product.count %> </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to "Messages", admin_messages_path %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> <%= Message.count %> </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to "Locations", admin_locations_path %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"> <%= Location.count %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
