<%= form_with model: @message, url: contact_index_path, method: :post, html: { class: "space-y-6" } do |f| %>
  <div>
    <%= f.label :name, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_field :author, required: true, class: "w-full bg-gray-100 rounded-xl px-4 py-2 text-sm" %>
  </div>

  <div>
    <%= f.label :email, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_field :email, required: true, class: "w-full bg-gray-100 rounded-xl px-4 py-2 text-sm" %>
  </div>

    <div>
    <%= f.label :phone, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.number_field :phone, class: "w-full bg-gray-100 rounded-xl px-4 py-2 text-sm" %>
  </div>


  <div>
    <%= f.label :message, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_field :body,required: true, placeholder: "I have an amazing party and i need some shaved ice!", class: "w-full bg-gray-100 rounded-xl px-4 py-2 text-sm" %>
  </div>

  <div class="text-center pt-4">
    <%= f.submit "Send Message", class: "rounded-md bg-green-500 hover:bg-green-400 px-5 py-2 text-sm font-semibold text-white shadow focus-visible:outline focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-yellow-600 transition", style: "width: 150px;" %>
  </div>
<% end %>