<%= form_for @product, html: { class: "max-w-xl mx-auto space-y-6" } do |f| %>
  <div>
    <%= f.label :title, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.text_field :title, required: true, class: "w-full bg-gray-100 rounded-full px-4 py-2 text-sm" %>
  </div>

  <div>
    <%= f.label :ingredients, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.rich_textarea :ingredients, required: true, class: "w-full bg-gray-100 rounded-xl px-4 py-2 text-sm" %>
  </div>

  <div>
    <%= f.label :category, class: "block text-sm font-medium text-gray-700 mb-1" %>
    <%= f.select :category, Product.category_select_options, { prompt: "Select your Category" }, class: "w-full rounded-full bg-gray-100 px-4 py-2 text-sm" %>
  </div>

  <div class="flex justify-center items-center py-4 rounded-xl">
    <%= f.file_field :product_picture, class: "hidden", id: "upload-picture", multiple: false, accept: "image/*" %>
    <label for="upload-picture" class="cursor-pointer flex items-center gap-2 px-4 py-2 bg-gray-50 border-gray-300 border-1 text-black rounded-full text-sm font-medium shadow hover:bg-gray-200 transition">
      <i class="fa-solid fa-upload text-xs"></i>
      <span class="text-xs">Upload Product Picture</span>
      <i id="upload-icon" class="hidden fa-solid fa-check text-green-600 text-xs"></i>
    </label>
  </div>

  <div class="text-center pt-4">
    <%= f.submit "Save Product", class: "rounded-md bg-green-500 hover:bg-green-400 px-5 py-2 text-sm font-semibold text-white shadow focus-visible:outline focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-yellow-600 transition", style: "width: 150px;" %>
  </div>
<% end %>
