<%= form_for @product do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.rich_textarea :ingredients %>
  </div>
<div class="mt-8">
        <%= f.submit 'Save Product', class: "mx-auto rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", style: "width: 150px" %>
      </div>
<% end %>