  <div data-controller="dropdown" class="bg-white flex items-center justify-between px-4 py-3 h-34 border-gray-200 shadow-lg border-b"> 
    <div class="relative mx-8">
      <%= link_to "#", class: "flex items-center space-x-2 font-semibold text-3xl", data: { action: "click->dropdown#toggle click@window->dropdown#hide touchend@window->dropdown#hide",
      dropdown_target: "button" }, active:"false" do %>
        <i class="fa-solid fa-bars"></i>
      <% end %>
        <% height = if admin_signed_in?%>
            <% 56 %>
         <% else %>
            <% 47 %>
        <% end %>
      <div data-dropdown-target="menu" class="hidden absolute top-full mt-1 text-xl <% height %>% w-56 rounded-md bg-white shadow-lg ring-1 ring-black/5 z-20">
        <div class="py-1">
      <%= link_to "Home", root_path, class: "block px-4 py-2 font-semibold text-gray-700 hover:bg-gray-100" %>
      <%= link_to "Menu", products_path, class: "block px-4 font-semibold  py-2 text-gray-700 hover:bg-gray-100" %>
      <%= link_to "Locations", locations_path, class: "block font-semibold px-4 py-2 text-gray-700 hover:bg-gray-100" %>
      <%= link_to "Contact Us", "#", class: "block px-4 py-2 font-semibold text-gray-700 hover:bg-gray-100" %>
      <%if admin_signed_in?%>
        <div class="z-10">
      <%= link_to "Admin Panel", "#", class: "block px-4 py-2 font-semibold text-gray-700 hover:bg-gray-100"%>
        </div>
    <% end %>
        </div>
      </div>
    </div>
  <div class="absolute left-1/2 transform -translate-x-1/2">
    <%= link_to root_path do %>
      <%= image_tag "justacraving-logo.png", alt: "Logo", class: "h-20 md:h-30" %>
    <% end %>
  </div>
   <%if admin_signed_in?%>
      <div class="z-10">
       <%= button_to "Sign out", destroy_admin_session_path, method: :delete, class: "mx-8 font-semibold text-xl"%>
      </div>
        <% else %>
      <div class="z-10">
        <%= link_to "Sign in", new_admin_session_path, class: "mx-8 font-semibold text-xl" %>
      </div>
    <% end %>
</div>