<div id="navigation-mobile" class="hidden relative z-50 lg:hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-900/80"></div>
  <div class="fixed inset-0 flex">
    <div class="relative mr-16 flex w-full max-w-xs flex-1">
      <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
        <button type="button" class="-m-2.5 p-2.5">
          <i class="fa-solid fa-xmark text-white text-xl"></i>
        </button>
      </div>
      <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-2 ring-1 ring-white/10">
        <div class="flex h-16 shrink-0 items-center">
          <%= image_tag "justacraving-logo.png", class: "h-10 w-auto", alt: "Just A Craving" %>
        </div>
        <nav class="flex flex-1 flex-col">
          <%= render "layouts/sidebar_links"%>
        </nav>
      </div>
    </div>
  </div>
</div>


<div id="navigation-desktop" class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
    <div class="flex h-16 shrink-0 items-center">
      <%= image_tag "justacraving-logo.png", class: "h-10 w-auto", alt: "Just A Craving" %>
    </div>
    <nav class="flex flex-1 flex-col">
       <%= render "layouts/sidebar_links"%>
    </nav>
  </div>
</div>
<div id="navigation-mobile-menu" class="sticky top-0 z-40 flex items-center gap-x-6 bg-gray-900 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
  <button type="button" class="-m-2.5 p-2.5 text-gray-400 lg:hidden">
    <i class="fa-solid fa-bars text-xl"></i>
  </button>
  <div class="flex-1 text-sm font-semibold leading-6 text-white">
    <%= content_for?(:title) ? yield(:title) : "Admin" %>
  </div>
</div>
